<div *ngIf="!error else showError" class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col" class="text-center" colspan="2">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td class="text-center">{{ customer.id }}</td>
                    <td class="text-center">
                        <a routerLink="/info/{{customer.id}}">
                            <button type="button" class="btn btn-info">Show details</button>
                        </a>

                    </td>
                    <td class="text-center">

                        <a routerLink="/account/open/{{customer.id}}">
                            <button type="button" class="btn btn-success">Open account</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<ng-template #showError>
    <div class="alert alert-danger" role="alert">
        There was an error with the request: 
        <p class="h3">{{error.message}} </p>
        (Backend service not running?)
    </div>
</ng-template>